buster_release:
  image: greenaddress/wallycore@sha256:d76dbd6c02de1a20a096dccc3c846dc3121c964852292c6c918eb068838d934c
  artifacts:
    expire_in: 1 day
    name: wallycore-bindings
    when: on_success
    paths:
    - wally_dist/*
  tags:
    - ga
  before_script:
    - apt-get update -yqq
    - apt-get install -yqq --no-install-recommends git uncrustify
    - tools/uncrustify || true
    - git diff --exit-code
  script:
    - ./tools/build_python_wheels.sh
    - python setup.py sdist --dist-dir ./wally_core
    - ./tools/build_android_libraries.sh
    - ./tools/build_js_bindings.sh
    - mv release wallycore-android-jni
    - tar cvf wally_dist/wallycore-android-jni.tar wallycore-android-jni
    - gzip -9 wally_dist/wallycore-android-jni.tar

linux_py2_debug:
  image: greenaddress/wallycore@sha256:d76dbd6c02de1a20a096dccc3c846dc3121c964852292c6c918eb068838d934c
  tags:
    - ga
  script:
    - ./tools/cleanup.sh && ./tools/autogen.sh
    - ENABLE_ELEMENTS=--enable-elements PYTHON_VERSION=2.7 DEBUG_WALLY=--enable-debug ./tools/travis_build.sh
    - DEBUG_WALLY=--enable-debug ./tools/build_js_bindings.sh

linux_py3_debug:
  image: greenaddress/wallycore@sha256:d76dbd6c02de1a20a096dccc3c846dc3121c964852292c6c918eb068838d934c
  tags:
    - ga
  script:
    - ./tools/cleanup.sh && ./tools/autogen.sh
    - ENABLE_ELEMENTS=--enable-elements PYTHON_VERSION=3.7 DEBUG_WALLY=--enable-debug ./tools/travis_build.sh

ubuntu_18.04_release:
  image: greenaddress/wallycore@sha256:059eeaa5c61df5403fd28d6ea556c317d5809f7274e27901d0f09288a316bb53
  artifacts:
    expire_in: 1 day
    name: wallycore-bindings
    when: on_success
    paths:
    - wally_dist/*
  tags:
    - ga
  script:
    - ./tools/build_python_wheels.sh python3

ubuntu_19.04_release:
  image: greenaddress/wallycore@sha256:dd66cf18815756de37238c5fdfafc38c80076ce93d9ce644e517143894f24350
  artifacts:
    expire_in: 1 day
    name: wallycore-bindings
    when: on_success
    paths:
    - wally_dist/*
  tags:
    - ga
  script:
    - ./tools/build_python_wheels.sh python3

osx_release:
  tags:
    - osx
  artifacts:
    expire_in: 1 day
    name: wallycore-bindings
    when: on_success
    paths:
    - wally_dist/*
  script:
    - ./tools/build_python_wheels.sh python3

armv7l_release:
  tags:
    - armv7l
  artifacts:
    expire_in: 1 day
    name: wallycore-bindings
    when: on_success
    paths:
    - wally_dist/*
  script:
    - ./tools/build_python_wheels.sh python3

arm64_release:
  tags:
    - arm64
  artifacts:
    expire_in: 1 day
    name: wallycore-bindings
    when: on_success
    paths:
    - wally_dist/*
  script:
    - ./tools/build_python_wheels.sh python3

powerpcg4_release:
  tags:
    - powerpcg4
  script:
    - ./tools/build_python_wheels.sh

freebsdamd64_release:
  tags:
    - freebsd
  artifacts:
    expire_in: 1 day
    name: wallycore-bindings
    when: on_success
    paths:
    - wally_dist/*
  script:
    - cd $CI_PROJECT_DIR
    - ./tools/build_python_wheels.sh python3

windows10_release:
  tags:
    - win10
  artifacts:
    name: wallycore-dll
    when: on_success
    paths:
    - wally_dist\*
  script:
    - cd %CI_PROJECT_DIR%
    - call "C:\Program Files (x86)\Microsoft Visual Studio 14.0\VC\vcvarsall.bat" amd64
    - tools\msvc\wheel.bat

apidocs:
  image: greenaddress/wallycore@sha256:d76dbd6c02de1a20a096dccc3c846dc3121c964852292c6c918eb068838d934c
  artifacts:
    expire_in: 14 days
    name: wallycore-apidocs
    when: on_success
    paths:
    - apidocs.tar.gz
  tags:
    - ga
  script:
    - ./tools/cleanup.sh
    - virtualenv -p python2 .venv
    - source .venv/bin/activate
    - pip install sphinx sphinx_rtd_theme
    - sphinx-build -b html -a -c docs/source docs/source docs/build/html
    - cd docs/build && tar czf ../../apidocs.tar.gz html/ && cd ../..
    - deactivate
    - ./tools/cleanup.sh

package_release:
  tags:
    - garelease
  stage: deploy
  artifacts:
    expire_in: 14 days
    paths:
    - wally_dist/*
    when: on_success
  script: cd $CI_PROJECT_DIR/wally_dist && /opt/process_release
  dependencies:
  - buster_release
  - ubuntu_18.04_release
  - ubuntu_19.04_release
  - osx_release
  - armv7l_release
  - arm64_release
  - freebsdamd64_release
  - windows10_release
  - apidocs
