name: Build NPM package

on:
  push:
    branches:
    - master
  pull_request:
    branches:
    - master

jobs:
  build:
    runs-on: ubuntu-20.04

    steps:
      - uses: actions/checkout@v3
        with:
          submodules: true

      # Needed for build_wrappers.py, to extract function signatures from source code
      # We sed out azure to attempt to mitigate apt network failues.
      - run: sudo sed -i 's/azure\.//' /etc/apt/sources.list

      # bullseye_deps.sh is written for Debian, but works as-is on Ubuntu too.
      # Skip installing Java (-j), the Android NDK (-n) and MinGW (-w) which
      # we don't need for building the NPM package.
      - run: sudo contrib/bullseye_deps.sh -j -n -w

      # Build NPM package into a tgz file (pack internally triggers the build/prepare script)
      - run: cd src/wasm_package && npm install && npm pack --foreground-scripts
        name: Build & Pack

      # Report the SHA256 digest of the final package. This should be deterministic (including generated WASM),
      # so it should match the package published to the NPM registry and can be used to cross-check its integrity.
      - run: 'echo SHA256 digest: && sha256sum src/wasm_package/wallycore-*.tgz'

      - run: cd src/wasm_package && npm test

      - uses: actions/upload-artifact@v3
        with:
          name: libwally-npm
          path: src/wasm_package/wallycore-*.tgz
