name: Build

on:
  push:
    branches:
    - master
  pull_request:
    branches:
    - master

jobs:
  build_wheels:
    name: Build wheels on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-22.04, windows-2019, macos-11]
    env:
      CIBW_BEFORE_ALL_LINUX: yum install -y swig || apk add swig
      CIBW_BEFORE_ALL_MACOS: brew install gnu-sed swig automake
      CIBW_BEFORE_ALL_WINDOWS: choco install swig --version=3.0.12 --no-progress --allow-downgrade -y
      CIBW_BEFORE_BUILD_WINDOWS: .\tools\msvc\swig.bat
      CIBW_REPAIR_WHEEL_COMMAND_LINUX: auditwheel repair --only-plat -w {dest_dir} {wheel}
      LIBWALLY_DIR: "."
      SWIG_PATH: "C:\\ProgramData\\chocolatey\\lib\\swig\\tools\\install\\swigwin-3.0.12"

    steps:
      - uses: actions/checkout@v3
        with:
          submodules: true
          fetch-depth: 0

      - name: Install MSVC
        if: runner.os == 'Windows'
        uses: ilammy/msvc-dev-cmd@v1.4.1

      - name: Install qemu aarch64
        if: runner.os == 'Linux'
        uses: docker/setup-qemu-action@v1
        with:
          platforms: arm64

      - name: Build Wheels
        uses: pypa/cibuildwheel@v2.14
        env:
          CIBW_SKIP: "cp3{5..7}-* cp3{6..11}-win32* cp3{6..11}-musllinux_aarch64* pp*"
          CIBW_ARCHS_LINUX: "x86_64 aarch64"
          CIBW_ARCHS_MACOS: "x86_64 arm64 universal2"

      - uses: actions/upload-artifact@v2
        with:
          path: ./wheelhouse/*.whl
