name: Build

on: [push, pull_request]

jobs:
  build_wheels:
    name: Build wheels on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [windows-latest, macos-latest]

    steps:
      - uses: actions/checkout@v2
        with:
          submodules: true

      - uses: actions/setup-python@v2
        name: Install Python
        with:
          python-version: '3.8'

      - uses: ilammy/msvc-dev-cmd@v1.4.1

      - name: Install cibuildwheel
        run: python -m pip install cibuildwheel==1.11.0

      - name: Install Windows Build Deps
        if: runner.os == 'Windows'
        run: choco install swig --version=3.0.7 --no-progress -y

      - name: Generate Windows SWIG Files
        if: runner.os == 'Windows'
        run: .\tools\msvc\swig.bat
        env:
          SWIG_PATH: "C:\\ProgramData\\chocolatey\\lib\\swig\\tools\\install\\swigwin-3.0.7"

      - name: Generate ecmult_static_context.h
        if: runner.os == 'Windows'
        run: .\tools\msvc\gen_ecmult_static_context.bat
        env:
          LIBWALLY_DIR: "."

      - name: Install macOS Build Deps
        if: runner.os == 'macOS'
        run: brew install gnu-sed swig automake

      - name: Build Wheels
        run: python -m cibuildwheel --output-dir wheelhouse
        env:
          CIBW_SKIP: "cp27-* cp35-* cp38-win32* cp39-win32*  pp*"

      - uses: actions/upload-artifact@v2
        with:
          path: ./wheelhouse/*.whl
